@use 'styles/variables' as *;
@use'components/atoms/MButton/mbutton.scss';

.empty-state {
  padding: $spacing-xl;
  text-align: center;
  height: 100%;
  @include flex-column;
  @include flex-center;
  
  .empty-icon {
    font-size: 48px;
    margin-bottom: $spacing-md;
  }
  
  .empty-message {
    color: $text-medium;
    font-size: $font-size-md;
    margin-bottom: $spacing-md;
  }
  
  .empty-action {
    @extend .m-button !optional;
    @extend .m-button--primary !optional;
  }
}